<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN" class="translated-ltr">
<head th:include="index.html :: head">
    <link rel="stylesheet" href="http://www.gt.com/IdeaUI/lib/layer/skin/default/layer.css?v=3.0.11110" id="layuicss-skinlayercss"><link type="text/css" rel="stylesheet" href="http://www.gt.com/IdeaUI/lib/laypage//skin/laypage.css" id="laypagecss"></head>
<body >
<div class="mm_ctr">
<div th:include="index :: top">

    </div>
<div id="main">
        <div class="m_ctr">
            <div id="pos" class="ej_tctr">当前位置：<a href="/">首页</a> &gt; 活动产品</div>
            <div id="cls" class="ej_tctr1">
                <div class="ej_t1">
                    <div class="floatleft">分类：</div>
                    <div class="l_tcell1" id="n0"><a href="?m=goods&amp;c=list&amp;cid=12">全部</a></div>


                    <div class="l_tcell" id="n10"><a href="?m=goods&amp;c=list&amp;cid=10">防晒霜</a></div>

                    <div class="l_tcell" id="n9"><a href="?m=goods&amp;c=list&amp;cid=9">手工皂</a></div>


                </div>
                <div class="ej_t1" style="border-top:1px #eee solid;"><div class="floatleft">排序：</div><div class="l_tcell1"><a href="javascript:void(0);">全部</a></div><div class="l_tcell"><a href="?m=goods&amp;c=list&amp;cid=12&amp;o=sales&amp;ot=desc">销量</a></div><div class="l_tcell"><a href="?m=goods&amp;c=list&amp;cid=12&amp;o=price&amp;ot=desc">价格</a></div><div class="l_tcell"><a href="?m=goods&amp;c=list&amp;cid=12&amp;o=date&amp;ot=desc">时间</a></div></div>
            </div>
            <div class="m_ctr1">

                <div class="ej_pctr1" onmouseover="document.getElementById('c1').className='m_pic11'" onmouseout="document.getElementById('c1').className='m_pic1'">
                    <div class="m_pic1" id="c1"><a href="?m=goods&amp;c=show&amp;cid=9&amp;id=6" title="200万像素6寸网络高清高速智能球机"><img src="/Upload/Pic/pic2.jpg" alt="200万像素6寸网络高清高速智能球机"></a></div>
                    <div class="m_pt11"><a href="?m=goods&amp;c=show&amp;cid=9&amp;id=6" title="200万像素6寸网络高清高速智能球机">200万像素6寸网络高清高速智能球机</a></div>
                    <div class="m_pt12"><span>￥900.00</span> ￥700.00</div>
                </div>

                <div class="ej_pctr1" onmouseover="document.getElementById('c2').className='m_pic11'" onmouseout="document.getElementById('c2').className='m_pic1'">
                    <div class="m_pic1" id="c2"><a href="?m=goods&amp;c=show&amp;cid=9&amp;id=5" title="130万像素5寸网络高清高速智能球机"><img src="/Upload/Pic/pic1.jpg" alt="130万像素5寸网络高清高速智能球机"></a></div>
                    <div class="m_pt11"><a href="?m=goods&amp;c=show&amp;cid=9&amp;id=5" title="130万像素5寸网络高清高速智能球机">130万像素5寸网络高清高速智能球机</a></div>
                    <div class="m_pt12"><span>￥88.00</span> ￥55.00</div>
                </div>

                <div class="ej_pctr1" onmouseover="document.getElementById('c3').className='m_pic11'" onmouseout="document.getElementById('c3').className='m_pic1'">
                    <div class="m_pic1" id="c3"><a href="?m=goods&amp;c=show&amp;cid=10&amp;id=4" title="高清视频矩阵主机"><img src="/Upload/Pic/pic2.jpg" alt="高清视频矩阵主机"></a></div>
                    <div class="m_pt11"><a href="?m=goods&amp;c=show&amp;cid=10&amp;id=4" title="高清视频矩阵主机">高清视频矩阵主机</a></div>
                    <div class="m_pt12"><span>￥1500.00</span> ￥1200.00</div>
                </div>

                <div class="ej_pctr1" onmouseover="document.getElementById('c4').className='m_pic11'" onmouseout="document.getElementById('c4').className='m_pic1'" style="margin:0;">
                    <div class="m_pic1" id="c4"><a href="?m=goods&amp;c=show&amp;cid=9&amp;id=3" title="DS-6600网络视频服务器"><img src="/Upload/Pic/9.jpg" alt="DS-6600网络视频服务器"></a></div>
                    <div class="m_pt11"><a href="?m=goods&amp;c=show&amp;cid=9&amp;id=3" title="DS-6600网络视频服务器">DS-6600网络视频服务器</a></div>
                    <div class="m_pt12"><span>￥1600.00</span> ￥1500.00</div>
                </div>

                <div class="ej_pctr1" onmouseover="document.getElementById('c5').className='m_pic11'" onmouseout="document.getElementById('c5').className='m_pic1'">
                    <div class="m_pic1" id="c5"><a href="?m=goods&amp;c=show&amp;cid=12&amp;id=1" title="DS-9000系列混合型"><img src="/Upload/Pic/pic1.jpg" alt="DS-9000系列混合型"></a></div>
                    <div class="m_pt11"><a href="?m=goods&amp;c=show&amp;cid=12&amp;id=1" title="DS-9000系列混合型">DS-9000系列混合型</a></div>
                    <div class="m_pt12"><span>￥99.00</span> ￥88.00</div>
                </div>

                <script type="text/javascript" src="/IdeaUI/lib/laypage/laypage.js"></script>
                <div id="page"></div>
            </div>
        </div>
    </div>
<div th:include="index :: foot"></div>
    <script type="text/javascript" src="/IdeaUI/lib/layer/2.2/layer.js" charset="utf-8"></script>
    <script type="text/javascript" src="/template/skin2/pc/js/idea.base.js" charset="utf-8"></script>
<script language="javascript">
    if (document.getElementById("t12")){
        document.getElementById("t0").className="nav_cell";
        document.getElementById("t12").className="nav_cell1";
    }
    if (document.getElementById("n12")){
        document.getElementById("n0").className="l_tcell";
        document.getElementById("n12").className="l_tcell1";
    }
    laypage({
        cont: $('#page'), //容器。值支持id名、原生dom对象，jquery对象,
        pages: 1, //总页数
        curr: 1, //当前页
        skip: true, //是否开启跳页
        first: false,
        last: false,
        jump: function(obj, first){ //触发分页后的回调
            if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                location.href="?m=goods&c=list&cid=12&o=&ot=&page="+obj.curr;
            }
        }
    });
</script>
</div>
</body></html>